spring:
  application:
    name: ai-service
  data:
    mongodb:
      uri: mongodb+srv://nimnabusiness1280_db_user:7zXcj4OebVBXTnzf@fitness-app.cuymm05.mongodb.net/fitness-recommendations?retryWrites=true&w=majority

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
